body {
    display: grid;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.feedback {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    color: #333;
}


/* USER DATA BLOCK */
.user_data {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px 10px 25px 10px;
    margin-top: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* COURSES RATING BLOCK */
.container {
    display: grid;
    width: 50rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px 30px 25px 10px;
    margin-top: 30px;
    grid-template-rows: 5rem repeat(5, 7rem);
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rate {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
}

.courses {
    display: grid;
    grid-area: 2 / 1 / 7 / 1;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    border-right: 3px solid #333;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
}

.radio {
    display: grid;
    grid-area: 2 / 2 / 7 / 2;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
} 

:root {
    --radio-border-color: #656565;
    --radio-checked-color: #333;
    --radio-size: 26px;
    --radio-inner-size: 12px;
}

input[type="radio"] {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    appearance: none; /* Remove default styling */
    width: var(--radio-size); /* Custom width */
    height: var(--radio-size); /* Custom height */
    border: 2.7px solid var(--radio-border-color); /* Custom border */
    border-radius: 50%; /* Make it circular */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor on hover */
    position: relative; /* Position for pseudo-element */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

input[type="radio"]:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
    border-color: var(--radio-checked-color); /* Change border color on hover */
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--radio-inner-size); /* Inner circle size */
    height: var(--radio-inner-size); /* Inner circle size */
    border-radius: 50%; /* Make inner circle circular */
    background-color: var(--radio-checked-color); /* Color of the checked state */
    transform: translate(-50%, -50%); /* Center the inner circle */
    
}


/* FREE FORM COMMENTARY BLOCK */
.lol {
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
}

.commentary_container {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    max-width: 100%;
    padding: 25px 20px 25px 20px;
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.commentary {
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 4px;
}


/* SUBMIT BUTTON*/
.submit_button {
    margin-top: 20px;
    padding: 15px 35px;
    font-size: 24px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: #218838; /* Более темный зеленый фон при наведении */
}

.text {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100px;
    font-size: 2rem;
    text-indent: 20px;
    color: rgb(117, 113, 113);
}
